{% extends 'base.html' %}
{% block title %}
Update
{% endblock %}
{% block body %}
 
<div class="container my-3">
    <h2>Update page</h2>
      <form action="/update/{{ todo.sr_no }}" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">ToDo Title</label>
          <input type="text" class="form-control" name = 'Title'id="Title" value="{{todo.Title}}" aria-describedby="emailHelp">
          <div id="text" class="form-text">Add the title.</div>
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Description</label>
          <input type="text" class="form-control" name ='Desc' value="{{todo.Desc}}" id="Desc">
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  {% endblock body %}